# APP META CONFIGURATIONS
NEXT_PUBLIC_SITE_TITLE="Tasky"
NEXT_PUBLIC_SITE_DESCRIPTION="Tasky is a smart and minimal to-do list app designed to help you stay organized, manage tasks efficiently, and boost productivity."
NEXT_PUBLIC_SITE_TAGS="Tasky, to-do list, task manager, productivity, task tracking, reminders"
